<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="/styles/normalize.css">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/custom.css">
        <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Abel|Ropa+Sans|Wire+One' rel='stylesheet' type='text/css'>
    <!--
        For demonstration purposes, the `title` is dynamically set here based on
        your `sails.config.appName` to show that you can inject data into layouts
        exactly the same way as with your other view templates.
    -->
    <title><%= title %></title>
    <!--

      Stylesheets
      ========================

      You can link any CSS, LESS, or image files in your `assets` directory
      as you would normally: using <link/> tags.
      
    -->

    <!--

      Support for LESS included by default
      ================================================

      LESS files are automatically compiled when they change using the Gruntfile
      located in the top-level of this Sails app.  If you run into issues with styles
      not reloading, check the Sails log output in your console for LESS compilation errors.
      If necessary, shut down and then lift your app again.
      
    -->

  </head>

  <body>
    <% if( typeof sidebarPartial === "undefined" ){ %>
      <%- partial('sidebar') %>
    <% } else { %>
      <%- partial('sidebar',{
        sidebarContent : typeof sidebarContent == "undefined"? undefined : sidebarContent
      }) %>
    <% } %>

    <!-- Include the view file for the current controller/route -->
    <div class="primary <%= typeof extraClass == "undefined"? "" : extraClass %>">
      <%- body %>
    </div>


    <!--

      Client-side Javascript
      ========================

      You can import any js files in your `assets` directory as you would 
      normally: using <script></script> tags.

      Here's an example of importing a few dependencies, in order:
    -->
    <!-- Bring in the socket.io client -->
    <script type="text/javascript" src="/js/socket.io.js"></script>
    <!-- then beef it up with some convenience logic for talking to Sails.js -->
    <script type="text/javascript" src="/js/sails.io.js"></script>
    <!-- listen on socket.io for incoming messages -->
    <script type="text/javascript" src="/js/app.js"></script>

    <!-- Your scripts here? -->
    <!-- Your scripts here? -->
    <!-- Your scripts here? -->


    <!--

      Looking for client-side CoffeeScript or TypeScript?
      ================================================

      CoffeeScript and TypeScript precompilation are not installed by default,
      but if you'd like to mix those features in, it is straightforward to
      `npm install` the relevant grunt community modules and modify your Gruntfile
      to use them.

    -->



    <!--

      Another way: The Asset Linker
      ========================

      Sails supports a Grunt-based asset linker, to automatically inject 
      <link> and <script> tags, as well any client-side templates you're using
      into your HTML layouts and views, respecting dependencies.

      You created this Sails app with the asset linker disabled.
      If you change your mind, check out the docs on the subject:
      http://sailsjs.org/#!documentation/asset-management

    -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="/js/background-check.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>
    </body>
</html>
