<a href="/ps<%- photoset.id %>">
<div class="entry">
    <div class="images">
        <img class="photo" src="<%- photoset.getImageURL('reality') %>" width="367" />
        <img class="capture" src="<%- photoset.getImageURL('capture') %>" width="367" />
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <% if (photoset.user) { %>
        <div class="speach-triangle"></div>
        <a href="/u<%- photoset.user.id %>">
            <img src="<%- photoset.user.avatarURL(150) %>" alt="" class="avatar">
        </a>
    <% } %>
    <a href="" class="location right-item"><%- photoset.address %></a>
    <% if (photoset.artwork){ %>
        <a href="/a<%- photoset.artwork.id %>" class="artwork right-item"><%- photoset.artwork.name %></a>
    <% } %>
    <div class="clearfix"></div>
</div>
</a>