<div class="entry">
    <a href="/ps<%= photoset.id %>">
        <div class="images">
            <% if( photoset.getImageURL('reality') && photoset.getImageURL('capture') ){ %>
                <div class="photo-wrapper">
                    <img class="photo" src="<%= photoset.getImageURL('reality', 1000, 564) %>"/>
                </div>
                <div class="capture-wrapper">
                    <img class="capture" src="<%= photoset.getImageURL('capture', 1000, 564) %>"/>
                </div>
            <% } else { %>
                <img class="single-image" src="<%= photoset.getImageURL('reality') || photoset.getImageURL('capture') %>" />
            <% } %>
        </div>
    </a>
    <div class="clearfix"></div>
    <% if (photoset.user) { %>
        <div class="speach-triangle"></div>
        <a href="/u<%= photoset.user.id %>">
            <img src="<%= photoset.user.avatarURL(150) %>" alt="" class="avatar">
        </a>
    <% } %>
    <% if (photoset.address) { %>
        <a href="/map/<%= photoset.address %>" class="location right-item"><%= photoset.address %></a>
    <% } %>
    <% if (photoset.artwork){ %>
        <a href="/a<%= photoset.artwork.id %>" class="artwork right-item"><%= photoset.artwork.name %></a>・
    <% } %>
    <div class="clearfix"></div>
</div>