<img src="http://www.gravatar.com/avatar/b6a007611d9373ab5159455635ff328e?d=blank&s=150" alt="" class="avatar">
<% if( photoset.user ){ %>
	<a href="/u<%- photoset.user.id %>">投稿者：<%- photoset.user.username %></a>
<% } %>
<% if( photoset.artwork ){ %>
	<a href="/a<%- photoset.artwork.id %>"><%- photoset.artwork.name %></a>
<% } %>
<% if( photoset.address ){ %>
	<a href=""><%- photoset.address %></a>
<% } %>
<a href="">ブックマーク: 2</a>