<% if( photoset.user ){ %>
	<img src="<%= photoset.user.avatarURL(150) %>" alt="" class="avatar">
	<a href="/u<%= photoset.user.id %>">投稿者：<%= photoset.user.username %></a>
<% } %>

<% if( photoset.artwork ){ %>
	<a href="/a<%= photoset.artwork.id %>">作品：<%= photoset.artwork.name %></a>
<% } %>

<% if( photoset.address ){ %>
	<a href=""><%= photoset.address %></a>
<% } %>

<% if( photoset.url ){ %>
	<a href="<%= photoset.url %>">引用元</a>
<% } %>

<% if( photoset.user && req.user && req.user[0] && photoset.user.id == req.user[0].id ){ %>
	<a href="/photoset/<%= photoset.id %>/delete">削除</a>
<% } %>
<!-- <a href="">ブックマーク: 2</a> -->

<a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<a href="/ps<%= photoset.id %>/makeEmbed">貼り付け</a>