<% if( photoset.user ){ %>
	<img src="<%= photoset.user.avatarURL(150) %>" alt="" class="avatar">
	<a href="/u<%= photoset.user.id %>">投稿者：<%= photoset.user.username %></a>
<% } %>

<% if( photoset.artwork ){ %>
	<a href="/a<%= photoset.artwork.id %>"><%= photoset.artwork.name %></a>
<% } %>

<% if( photoset.address ){ %>
	<a href=""><%= photoset.address %></a>
<% } %>

<% if( photoset.url ){ %>
	<a href="<%= photoset.url %>">引用元</a>
<% } %>

<% if( photoset.user && req.user && req.user[0] && photoset.user.id == req.user[0].id ){ %>
	<a href="/photoset/<%= photoset.id %>/delete">削除</a>
<% } %>
<!-- <a href="">ブックマーク: 2</a> -->