        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAh0z9PrtdXhd84WvhdTMcbRd_krXYZPLM&sensor=false">
        </script>
        
        <div class="photoset">
            <% if( photoset.getImageURL('reality') && photoset.getImageURL('capture') ){ %>
                <img class="photo" src="<%= photoset.getImageURL('reality') %>" />
                <img class="capture" src="<%= photoset.getImageURL('capture') %>" />
            <% }else{ %>
                <img class="single-image" src="<%= photoset.getImageURL('reality') || photoset.getImageURL('capture') %>" />
            <% } %>
            <div class="clearfix"></div>
        </div>
        
        <% if( photoset.lat && photoset.lng ){ %>
            <div class="photoset-map">
                <div class="map-canvas" data-map='{"lat":<%= photoset.lat %>, "lng":<%= photoset.lng %>}'></div>
            </div>
        <% } %>

        <div class="comments">
            <div class="comment">
                <img src="http://www.gravatar.com/avatar/b6a007611d9373ab5159455635ff328e?d=mm&s=40" alt="" class="avatar">
                <p class="body">いいですね</p>
            </div>
            <div class="comment">
                <img src="http://www.gravatar.com/avatar/testing?d=mm&s=40" alt="" class="avatar">
                <p class="body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>

        <div class="suggestion">
            <p class="caption">けいおん！の他の聖地</p>
            <img src="http://s3-ap-northeast-1.amazonaws.com/butai/92/captures_medium.jpg?1380559008" alt="">
        </div>
        <div class="suggestion">
            <p class="caption">近い聖地</p>
            <img src="http://s3-ap-northeast-1.amazonaws.com/butai/92/captures_medium.jpg?1380559008" alt="">
        </div>
        <div class="clearfix"></div>